html {
    scroll-behavior: smooth;
}


/* Estilos para el texto */
body.custom-body {
    background-color: #e4dddd;
    font-family: 'Oooh Baby';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    font-size: 17px;
}





/* PORTADA */

/* header {
    background-size: contain;
    background-image: url('images/portada4.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: -250px;
} */

video {
    max-width: 400px;
}

@media only screen and (max-width: 600px) {
    video {
        height: 550px;
        max-width: 100%;
        /* Asegura que el video no se desborde */
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

a:hover {
    color: #8f746c;
}

/* nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #464646;
    animation: aparecerLinea 10s forwards;
} */

/* @keyframes aparecerLinea {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
} */

/* #banner {
    position: absolute;
    top: 47%;
    left: 64%;
    transform: translate(-52%, -53%); 
    width: 156%;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 200px;
    height: 565px;
} */

/* .animated-title {
    display: inline-block; 
    font-size: 3em; 
    color: #35281d; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin-left: -50px;
    margin-right: 314px;
    margin-top: revert-layer;
} */

/* .animated-title span {
    display: inline-block; 
    opacity: 0; 
    animation: slideIn 0.8s forwards; 
} */

/* @keyframes slideIn {
    0% { */
        /* transform: translateX(-100%); */
        /* opacity: 0;
    }
    50% { */
        /* opacity: 1; */
    /* }
    100% { */
        /* transform: translateX(0);  */
        /* opacity: 1;
    } */
/* } */

/* Retraso para cada letra */
.animated-title span:nth-child(odd) { 
    animation-delay: calc(0.1s * var(--i)); 
}
.animated-title span:nth-child(even) { 
    animation-delay: calc(0.1s * var(--i)); 
}

/* @media only screen and (max-width: 600px) { */
    /* header { */
        /* background-size: cover; */
        /* background-image: url('images/header.png'); */
        /* height: 300px; */
    /* } */

    /* #banner {
        position: absolute;
        top: 45%;
        left: 86%;
        transform: translate(-48%, -50%);
        width: 500%;
        text-align: center;
        background-color: rgba(0, 0, 0, -0.5);
        padding: 55px;
        height: 394px;
    } */

    /* .animated-title { */
        /* display: inline-block;  */
        /* font-size: 3em;  */
        /* color: #35281d;  */
        /* margin-left: -55px; */
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
        /* margin-left: -50px;
        margin-right: 314px;
        margin-top: revert-layer; */
    /* } */
}

nav {
    background-color: rgb(223, 211, 195);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* @media only screen and (max-width: 600px) {
    header {
        background-size: contain;
        background-image: url('images/portada4.png');
        height: 600px;
        margin-bottom: -165px;
    }
} */

.post-header {
    max-width: 70%;
    margin: 20px auto 0px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* BIENVENIDOS */

#bienvenidos {
    text-align: center;
}


#bienvenidos h1 {
    color: #35281d;
    font-family: 'Oooh Baby';
    font-style: normal;
    font-size: 35px;
    letter-spacing: 2px;
}

.bienvenidos-texto p {
    text-align: center;
    padding: 15px;
}

.bienvenidos-texto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}


.cuenta-regresiva {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #83786c;
    filter: opacity(0.7);
    padding: 15px;
}



#cuenta-atras {
    display: flex;
    /* align-items: center; */
}

.tiempo {
    text-align: center;
}

.barra {
    font-size: 1em;
    color: #666;
    margin: 0 10px;
}

/* Estilo para la imagen */
.finca-image-container {
    position: relative;
    display: inline-block;
    border: 5px solid #83786c;
    /* Bordes vintage */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 30px 0 30px 0;
}

.finca-image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.information-texto {
    color: #83786c;
    padding: 10px;
}

.collage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
    margin-bottom: 60px;
}

.finca-item {
    position: relative;
    width: 250px;
}


.collage-img {
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    transform: rotate(-5deg);
}

.texto-tarjeta {
    position: absolute;
    bottom: -30px;
    left: 55%;
    transform: translateX(-50%);
    background: #35281db8;
    color: white;
    padding: 5px 5px;
    font-size: 13px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(90, 74, 66, 0.5);
}

.texto-tarjeta p {
    margin: 0;
}

/* LOCATION */

#general-information {
    text-align: center;
    padding: 20px;
}

#general-information h1 {
    color: #35281d;
    font-family: 'Quattrocento', serif;
    font-size: 35px;
    letter-spacing: 2px;
}

#general-information video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: -webkit-fill-available;
}

.general-information-texto p {
    text-align: center;
    padding: 15px;
}


/* Google Maps */
#mapDiv {
    height: 300px;
    max-width: 90%;
    margin: 20px auto 40px;
}


/* CARROUSEL */

#carrousel {
    text-align: center;
    padding: 20px;
}

#carrousel h1 {
    color: #35281d;
    font-family: 'Quattrocento', serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.carrousel-texto p {
    text-align: center;
    padding: 20px;
    padding: 10px; /* Ajusta el relleno según sea necesario */
}


  
.carousel-item img{
    height: auto; /* Ajusta la altura de las imágenes */
    max-width: 40%;
    object-fit: cover; /* Asegúrate de que las imágenes se escalen correctamente */
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    right: 33% !important;
    bottom: 20px;
    left: 33% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .carousel-item img{
        height: 450px; /* Ajusta la altura de las imágenes */
        max-width: 100%;
    }

    .carousel-caption {
        right: 7% !important;
        left: 7% !important;
    }
    
}


/* ITINERARIO */

.timeline {
    position: relative;
    margin: 50px 0;
    padding-left: 40px;
    border-left: 3px solid black;
    margin-left: 660px;
}

@media only screen and (max-width: 600px) {
    .timeline {
        position: relative;
        margin: 50px 0;
        padding-left: 40px;
        border-left: 3px solid black;
    }
}

.event {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
}

.event:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 20px;
    width: 12px;
    height: 12px;
    background-color: #eae5e2;
    border-radius: 50%;
}

.event .time {
    width: 100px;
}

/* .event .icon {
    margin-right: 20px;
} */

.event .icon img {
    /* width: 30px;
    height: 30px; */
    max-width: 40%;
}

.event .description {
    font-size: 0.8em;
    color: #83786c;
}

.event .hidden {
    font-size: 0.8em;
    color: #83786c;
}

.event .description:hover {
    color: #83786c;
    transition: color 0.3s ease;
}

/* Animation logic */
.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.itinerario img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.element-crew {
    max-width: 3%;
}

.element {
    max-width: 4%;
}

@media only screen and (max-width: 600px) {
    .timeline {
        position: relative;
        margin: 50px 0;
        padding-left: 40px;
        border-left: 3px solid #35281d;
    }
}





/* INFORMACIÓN DE INTERÉS */

#info_interes {
    /* background-image: url('images/flowers.avif'); */
    background-size: contain;
    text-align: center;
    padding: 20px;
    /* background-color: black; */
    filter: opacity(0.8);
}

@media only screen and (max-width: 600px) {
    #info_interes {
        background-size: auto;
    }
}

#info_interes h1 {
    color: #35281d;
    font-family: 'Quattrocento', serif;
    font-size: 35px;
    letter-spacing: 2px;
}

#info_interes p {
    text-align: center;
    padding: 15px;
}

#info_interes img {
    max-width: 20%;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4d4235;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}


.contacto-novios {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.contacto {
    text-align: center;
    background: #d8c8b7;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #f7f1ea;
    width: 150px;
    margin: 0 auto;
}

.boton-telefono button {
    background: #d8c8b7;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.boton-telefono button:hover {
    background: #c4b4a5;
}



/* ASISTENCIA */

#asistencia {
    text-align: center;
    padding: 40px 20px;
    background-color: #beb4aa;
}

#asistencia h1 {
    font-family: 'Quattrocento', serif;
    font-size: 35px;
    color: #35281d;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#asistencia p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #555555;
    margin-bottom: 40px;
    text-align: center;
}

/* Formulario */
.form-container-asist {
    background: #eae5e2;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-top: 8px;
    font-weight: 600;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333333;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    border-color: #0056b3;
    outline: none;
}

input::placeholder {
    color: #888888;
}

/* Radio buttons */
.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 8px;
}

label[for="acompanadoNo"],
label[for="acompanadoSi"] {
    font-size: 14px;
    color: #555555;
}

label[for="busSi"],
label[for="busNo"] {
    font-size: 14px;
    color: #555555;
}

label[for="carne"],
label[for="pescado"] {
    font-size: 14px;
    color: #555555;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1000;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        z-index: 1000;
        width: 350px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    /* Ajusta el tamaño según sea necesario */
    height: 20px;
    /* Ajusta el tamaño según sea necesario */
}

.modal {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro semitransparente */
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.add-button,
.save-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover,
.save-button:hover {
    background-color: black;
}

*/

/* Botón de enviar: Estilo Business */
button#submit {
    background-color: black;
    /* Azul corporativo */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 40px;
    border: none;
    border-radius: 50px;
    /* Bordes redondeados y modernos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    cursor: pointer;
    transition: all 0.3s ease;
}

button#submit:hover {
    background-color: black;
    /* Azul más oscuro para hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Intensifica la sombra */
    transform: translateY(-2px);
    /* Ligero levantamiento al hacer hover */
}

button#submit:active {
    background-color: #0e3d80;
    /* Azul aún más oscuro al hacer clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Reduce la sombra */
    transform: translateY(0);
    /* Elimina el levantamiento */
}

/* Responsivo */
@media only screen and (max-width: 600px) {
    .form-container-asist {
        padding: 20px;
        max-width: 90%;
    }

    #asistencia p {
        font-size: 16px;
    }
}



/* FOOTER */
.pre-footer {
    max-width: 80%;
    margin: 0px 0px 0px 35px;
}


footer {
    background-color: #beb4aa;
    padding: 10px;
    color: white;
}

.footer-content p {
    text-align: center;
    font-weight: 200;
}